*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
    font-style: oblique;
    background-color: rgb(7, 25, 39);
    color: whitesmoke;
    /* border: 1px red solid; */
}

header {
    min-height: 8vh;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    width: auto;
    display: flex;
    justify-content: center;
}

h1 {
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 5rem;
}

nav {
    width: 100%;
    margin-top: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

nav a {
    background-color: rgb(184, 0, 0);
    height: auto;
    width: 15rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 10px;
}

nav a:hover {
    background-color: rgb(230, 195, 0);
    color: rgb(0, 0, 0);
}

.active {
    background-color: rgb(230, 195, 0);
    color: rgb(0, 0, 0);
}
 
.banner {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

h2 {
    height: 3rem;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgba(245, 245, 245, 0.493);
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

section {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer1 {
    width: 50%  ;
    display: flex;
    justify-content: center;
    align-content: center;
}

.image1 {
    width: 30rem;
}

h3 {
    display: flex;
    justify-content: start;
    padding: 1rem;
    font-size: xx-large;
}

p {
    display: flex;
    justify-content: start;
    padding: 1rem;
}


/* --------------------------------------------------------------
                       <<Galeria>>
-------------------------------------------------------------- */

.gallery, .gallery * {
    box-sizing: border-box;
}

.gallery {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gallery img {
    height: 300px;
    object-fit: contain;
    width: 100%;
}

.gallery :hover {
    height: 100%;
    transition: all 0.3s ease 0s;
}


/* ----------------------------------------------------------------------------
                                <<Tabla>>
---------------------------------------------------------------------------- */

h4 {
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

caption {
    caption-side: bottom;
    padding-top: 1rem;
}

table {
    border-spacing: 1rem;
}

td {
    text-align: center;
}

.tableText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.telEmail {
    display: flex;
    justify-content: space-between;
}

/* -----------------------------------------------------------------------------
                                <<Lista>>
----------------------------------------------------------------------------- */

h5 {
    width: 20rem;
    font-size: large;
}

.list {
    width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.list_div {
    padding: 1.5rem;
}

/* --------------------------------------------------------------------------
                                <<TASK2>> 
-------------------------------------------------------------------------- */

/* h1{
    font-size: 4rem;
    display: block;
    height: auto;
    margin-left:  2rem;
    margin-bottom: 1rem;
}

.bannerContainer {
    width: 100%;
    height: 25rem;
}

.banner {
    position: relative;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

nav {
    position: absolute;
    right: 5%;
    margin-top: -10px;
}

nav :hover {
    background-color: antiquewhite;
    color: black;
    transition: all 0.3s ease 0s;
}

.button {
    position: relative;
    z-index: 3;
    text-decoration: none;
    background-color: rgb(8, 71, 8);
    color: rgb(189, 189, 189);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10%;
}

.buttonVisited {
    position: relative;
    z-index: 3;
    text-decoration: none;
    background-color: rgb(82, 82, 145);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10%;
}

h2 {
    font-size: 2rem;
    position: relative;
    background-color: rgb(8, 71, 8);
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: -5px;
}

h3 {
    font-size: 1.5rem;
}

.logoContainer {
    float: left;
    width: 10%;
    margin-left: 5%;
}

section {
    display: inline-block;
    width: 75%;
    margin: 0, auto;
}

a {
    color: rgb(163, 163, 219);
} */